.country {
    border: 2px solid salmon;
    margin:  20px;
    padding: 20px;
    border-radius: 20px;
}
.btn{
    border: 1px solid saddlebrown;
    padding: 9px;
    border-radius: 10px;
    background: none;
}